ion-searchbar.custom {
  --box-shadow: none;
  --placeholder-color: var(--ion-color-medium-tint);
  --background: var(--ion-color-light-shade);
  --clear-button-color: var(--ion-color-primary);
  --icon-color: var(--ion-color-primary);
  --border-radius: 8px;
}

ion-searchbar.md.custom {
  --cancel-button-color: var(--ion-color-primary);
}
