<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-item lines="none">
        <ion-avatar>
          <img src="/assets/imgs/logo.png" />
        </ion-avatar>

        <div class="profile-detail">
          <ion-text color="dark">Bem vindo!</ion-text>
        </div>
      </ion-item>

      <ion-buttons slot="end">
        <ion-button color="dark" fill="clear">
          <ion-icon name="cart-outline" slot="icon-only" />
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>
